.NavLinksList {
  display: flex;
  text-transform: uppercase;
}

.NavLink {
  display: inline-block;
  padding: 20px;

  font-weight: 500;
  color: #4db6ac;
}

.NavLink-active {
  background-color: #e0f2f1;
}
